<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.17435918629584327 0.1434611585982958 0.2316617913381355" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.17435918629584327 0.1434611585982958 0.2316617913381355" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.9128204068520783 0 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.510068329792803 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.510068329792803 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.020136659585606 0.5209410774441223 0.8169853558609267" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.510068329792803 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.020136659585606 0.5209410774441223 0.8169853558609267" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="1.020136659585606 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.38990020333327 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.38990020333327 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.77980040666654 1.0074242432792184 0.5670839318717101" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.38990020333327 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.77980040666654 1.0074242432792184 0.5670839318717101" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.38990020333327 0 0.28354196593585507" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.0917970433664911" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0917970433664911" rpy="0 0 0"/>
            <geometry>
                <box size="0.4107773852849411 1.0199135838908444 0.1835940867329822" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.0917970433664911" rpy="0 0 0"/>
            <geometry>
                <box size="0.4107773852849411 1.0199135838908444 0.1835940867329822" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.20538869264247056 0 0.0917970433664911" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.14437585680738907 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.14437585680738907 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28875171361477814 0.5745951570678678 1.0147615536578494" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.14437585680738907 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28875171361477814 0.5745951570678678 1.0147615536578494" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.14437585680738907 -0.2872975785339339 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.28077251439086703 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.28077251439086703 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24283665094667664 0.5615450287817341 0.28781982586072663" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.28077251439086703 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24283665094667664 0.5615450287817341 0.28781982586072663" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 -0.5615450287817341 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 -0.11720746538762207 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.11720746538762207 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9591400403072408 0.23441493077524414 0.48433898786692153" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.11720746538762207 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9591400403072408 0.23441493077524414 0.48433898786692153" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link7" type="revolute">
       <parent link="Link6"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.4795700201536204 -0.11720746538762207 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.07879665748125204 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.07879665748125204 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1575933149625041 0.1089488712856023 0.6285517648352155" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.07879665748125204 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1575933149625041 0.1089488712856023 0.6285517648352155" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Link8" type="revolute">
       <parent link="Link7"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0.07879665748125204 -0.05447443564280115 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0 -0.15074100480851332 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.15074100480851332 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3824417623890818 0.30148200961702665 1.0710314906159386" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.15074100480851332 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3824417623890818 0.30148200961702665 1.0710314906159386" />
            </geometry>
        </collision>
    </link>
    <joint name="Link8_Link9" type="revolute">
       <parent link="Link8"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="-0.1912208811945409 -0.15074100480851332 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="-0.17942736806003107 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17942736806003107 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.35885473612006213 0.12385040971540343 0.4043678463101127" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17942736806003107 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.35885473612006213 0.12385040971540343 0.4043678463101127" />
            </geometry>
        </collision>
    </link>
</robot>