<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2495688533681291 0.6317293571780894 0.9039777950740041" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2495688533681291 0.6317293571780894 0.9039777950740041" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-1 0 0.9519888975370021" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 0.35148168544699" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35148168544699" rpy="0 0 0"/>
            <geometry>
                <box size="0.6143703257861456 0.20307286089689838 0.70296337089398" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35148168544699" rpy="0 0 0"/>
            <geometry>
                <box size="0.6143703257861456 0.20307286089689838 0.70296337089398" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.10153643044844919 0.35148168544699" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.32901309336987333 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.32901309336987333 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6747188857218435 0.6580261867397467 0.658801451178701" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.32901309336987333 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6747188857218435 0.6580261867397467 0.658801451178701" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.32901309336987333 0.3294007255893505" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.5276585367279942" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5276585367279942" rpy="0 0 0"/>
            <geometry>
                <box size="0.5347536331170385 1.030213366481426 1.0553170734559885" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5276585367279942" rpy="0 0 0"/>
            <geometry>
                <box size="0.5347536331170385 1.030213366481426 1.0553170734559885" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.26737681655851925 0 0.5276585367279942" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.2972876948340033 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2972876948340033 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5945753896680066 0.433242556344403 0.6437988073382573" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2972876948340033 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5945753896680066 0.433242556344403 0.6437988073382573" />
            </geometry>
        </collision>
    </link>
</robot>