<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.21550040869080525 0.4561891800495159 0.10554330388666558" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.21550040869080525 0.4561891800495159 0.10554330388666558" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-1 -0.22809459002475796 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.15327567253000707 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.15327567253000707 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0757013379775437 0.30655134506001414 0.1243635314577444" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.15327567253000707 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0757013379775437 0.30655134506001414 0.1243635314577444" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.30655134506001414 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.22139227039638887 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.22139227039638887 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6910811865780916 0.44278454079277774 0.7156787773761941" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.22139227039638887 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6910811865780916 0.44278454079277774 0.7156787773761941" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.22139227039638887 0.35783938868809706" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.48242901249096926" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.48242901249096926" rpy="0 0 0"/>
            <geometry>
                <box size="0.47203973333147997 0.6109584846813187 0.9648580249819385" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.48242901249096926" rpy="0 0 0"/>
            <geometry>
                <box size="0.47203973333147997 0.6109584846813187 0.9648580249819385" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0 0.9648580249819385" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 0.35562740829464146" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35562740829464146" rpy="0 0 0"/>
            <geometry>
                <box size="0.6441283141767873 0.5262733034057877 0.7112548165892829" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35562740829464146" rpy="0 0 0"/>
            <geometry>
                <box size="0.6441283141767873 0.5262733034057877 0.7112548165892829" />
            </geometry>
        </collision>
    </link>
</robot>