<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.5622571170467258 0.6720706242722533 0.46777067322067123" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.5622571170467258 0.6720706242722533 0.46777067322067123" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-1 -0.33603531213612664 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.360850606672044 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.360850606672044 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7372706602817176 0.721701213344088 0.538723247089603" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.360850606672044 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7372706602817176 0.721701213344088 0.538723247089603" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.3686353301408588 0.360850606672044 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.343818130999691 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.343818130999691 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.687636261999382 1.0857679899544854 0.8100324605040659" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.343818130999691 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.687636261999382 1.0857679899544854 0.8100324605040659" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.343818130999691 0 0.4050162302520329" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.4176807258508818" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.4176807258508818" rpy="0 0 0"/>
            <geometry>
                <box size="0.16551442597523927 0.3796358445809499 0.8353614517017636" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.4176807258508818" rpy="0 0 0"/>
            <geometry>
                <box size="0.16551442597523927 0.3796358445809499 0.8353614517017636" />
            </geometry>
        </collision>
    </link>
</robot>