<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.20155739341235204 0.8557125713997011 0.4896314584405246" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-1 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.20155739341235204 0.8557125713997011 0.4896314584405246" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-1 0.42785628569985057 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 -0.20536580928830755 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.20536580928830755 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8141511141425728 0.4107316185766151 0.680521442170035" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.20536580928830755 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8141511141425728 0.4107316185766151 0.680521442170035" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 -0.4107316185766151 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.08618533273876368 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.08618533273876368 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.603491112742431 0.17237066547752736 0.33354158632813813" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.08618533273876368 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.603491112742431 0.17237066547752736 0.33354158632813813" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.3017455563712155 -0.08618533273876368 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.05753950880486665 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.05753950880486665 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1150790176097333 0.2958553542614467 0.2876183773424045" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.05753950880486665 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1150790176097333 0.2958553542614467 0.2876183773424045" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.05753950880486665 0.14792767713072336 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.28970614809208006 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.28970614809208006 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7017759446868341 0.5794122961841601 0.38806057664098936" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.28970614809208006 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7017759446868341 0.5794122961841601 0.38806057664098936" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.35088797234341706 0.28970614809208006 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.5405503517909109 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5405503517909109 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0811007035818219 0.14224444422695184 0.31159643703002304" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5405503517909109 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0811007035818219 0.14224444422695184 0.31159643703002304" />
            </geometry>
        </collision>
    </link>
</robot>